<div class="page page__login">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm">
            <div class="card card__login">
                <div class="card-body">
                    <h5 class="card-title">Login to Par Sell!</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Use your email and password to login</h6>
                    <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
                        <div class="form-group">
                            <label for="userEmail">Email address</label>
                            <input formControlName="userEmail" name="userEmail" type="email" [ngClass]="{'form-control': true, 'is-invalid': loginForm.controls.userEmail.invalid && (loginForm.controls.userEmail.dirty || loginForm.controls.userEmail.touched)}" id="userEmail" placeholder="Enter email" required>
                            <ul *ngIf="loginForm.controls.userEmail.invalid && (loginForm.controls.userEmail.dirty || loginForm.controls.userEmail.touched)" class="invalid-feedback list-unstyled">
                                <li *ngIf="loginForm.controls.userEmail.errors.required">
                                    Please Enter Your Email Address
                                </li>
                                <li *ngIf="loginForm.controls.userEmail.errors.email">
                                    Please Enter Valid Email Address
                                </li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="userPassword">Password</label>
                            <input formControlName="userPassword" name="userPassword" type="password" [ngClass]="{'form-control': true, 'is-invalid': loginForm.controls.userPassword.invalid && (loginForm.controls.userPassword.dirty || loginForm.controls.userPassword.touched)}" id="userPassword" placeholder="Password" required>
                            <ul *ngIf="loginForm.controls.userPassword.invalid && (loginForm.controls.userPassword.dirty || loginForm.controls.userPassword.touched)" class="invalid-feedback list-unstyled">
                                <li *ngIf="loginForm.controls.userPassword.errors.required">
                                    Please Enter Your Password
                                </li>
                            </ul>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>